<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>RasiaPVP - Panel - Farm</title>
</head>
<body style="height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand">RasiaPVP Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="history.go(-1)"><i class="bi bi-backspace"></i> Go Back</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span class="nav-link">Logged in as <%- locals.name %> <img src="https://minecraft-api.com/api/skins/<%= locals.name%>/head"></span>
                </li>
                <li class="nav-item"><a href="../../" class="nav-link"><i class="bi bi-box-arrow-right"></i></a></li>
            </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="container py-4" id="main">
    
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
          </div>
      </div>
      
      <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
        <div class="container">
          <span class="text-muted">made by <a href="https://github.com/ploxxxy" target="_blank" title="Discord: ploxxy#6090">ploxxy</a></span>
        </div>
      </footer>
      
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>


  
  const body = {
    "name": "<%= locals.name %>",
    "task": "<%= locals.task.index %>",
  }
    setInterval(() => {
      fetch("./count", {
        "method": "POST",
        "body": JSON.stringify(body),
        "headers": {
          'Content-Type': 'application/json'
        }
      }).then((res) => res.json())
      .then((data) => {
        if (data.message == 'Progress added') {
          var perc = ((data.progress * 100) / <%= locals.time %>).toFixed(2);
          document.getElementById('main').innerHTML = `<div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="${data.progress}" aria-valuemin="0" aria-valuemax="<%= locals.time %>" style="width: ${perc}%;">${perc}%</div>
            </div>`
        }

        if (data.message == 'Finished task') {
          history.go(-1)
        }
        
        console.log(data)
      })
    }, 10000)
</script>
</html>
